<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="gr__foundation_zurb_com"><head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="icon" href="../../assets/img/icons/foundation-favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation-emails/2.2.1/foundation-emails.min.css" rel="stylesheet">
  <title>My Password Reset Template Email Template Subject</title>
  <style></style></head>
  <body data-gr-c-s-loaded="true">
    <span class="preheader"></span>
    <table class="body">
      <tbody><tr>
        <td align="center" class="center" valign="top">
          <center data-parsed="">
            <style class="float-center" type="text/css">
            body,
            html,
            .body {
              background: #f3f3f3 !important;
            }
            .header {
              background: #f3f3f3;
            }
            </style>
            <table class="spacer float-center">
              <tbody>
                <tr>
                  <td height="16px" style="font-size:16px;line-height:16px;">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            <table align="center" class="container float-center">
              <tbody>
                <tr>
                  <td>
                    <table class="row header">
                      <tbody>
                        <tr>
                          <th class="small-12 large-12 columns first last">
                            <table>
                              <tbody><tr>
                                <th>
                                  <table class="spacer">
                                    <tbody>
                                      <tr>
                                        <td height="16px" style="font-size:16px;line-height:16px;">&nbsp;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <h4 class="text-center">Wrkspace CRM</h4>
                                </th>
                                <th class="expander"></th>
                              </tr>
                            </tbody></table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row">
                      <tbody>
                        <tr>
                          <th class="small-12 large-12 columns first last">
                            <table>
                              <tbody><tr>
                                <th>
                                  <table class="spacer">
                                    <tbody>
                                      <tr>
                                        <td height="32px" style="font-size:32px;line-height:32px;">&nbsp;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <center data-parsed="">
                                    <img align="center" class="float-center" src="<%= Faker::Avatar.unique.image %>">
                                  </center>
                                  <table class="spacer">
                                    <tbody>
                                      <tr>
                                        <td height="16px" style="font-size:16px;line-height:16px;">&nbsp;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <h1 class="text-center">Hello <%= @email %></h1>
                                  <table class="spacer">
                                    <tbody>
                                      <tr>
                                        <td height="16px" style="font-size:16px;line-height:16px;">&nbsp;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <p class="text-center">Someone has requested a link to change your password. You can do this through the link below:</p>
                                  <table class="button large expand">
                                    <tbody><tr>
                                      <td>
                                        <table>
                                          <tbody><tr>
                                            <td>
                                              <center data-parsed="">
                                                <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class: "float-center" %>
                                              </center>
                                            </td>
                                          </tr>
                                        </tbody></table>
                                      </td>
                                      <td class="expander"></td>
                                    </tr>
                                  </tbody></table>
                                </th>
                                <th class="expander"></th>
                              </tr>
                            </tbody></table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="spacer">
                      <tbody>
                        <tr>
                          <td height="16px" style="font-size:16px;line-height:16px;">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
    </tbody></table>

    <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>


  </body></html>
