<div class="container">
  <div class="page-header">
    <h1 class="page-title">
      New user
    </h1>
  </div>
  <div class="row">
    <div class="col-lg-3 order-lg-1 mb-4">
      <%= render 'admin/sidebar' %>
    </div>
    <div class="col-lg-9">
      <%= render 'form' %>
    </div>
  </div>
</div>
